<h2>US States (first 10)</h2>
<ul *ngIf="regions">
  <li *ngFor="let region of regions">
    {{region.name}}
  </li>
</ul>

<h2>Currencies (first 10)</h2>
<ul *ngIf="currencies">
  <li *ngFor="let currency of currencies">
    {{currency.code}}
  </li>
</ul>

<h2>Languages</h2>
<ul *ngIf="languages">
  <li *ngFor="let language of languages">
    {{language.code}}
  </li>
</ul>


<h2>Locales (first 10)</h2>
<ul *ngIf="locales">
  <li *ngFor="let locale of locales">
    {{locale.code}}
  </li>
</ul>

<h2>Time Zones (first 10)</h2>
<table cols="3" *ngIf="timeZones">
  <tr>
    <th align="left">ID</th>
    <th align="left">Name</th>
    <th align="left">Raw UTC Offset Hours</th>
  </tr>
  <tr *ngFor="let timeZone of timeZones">
    <td>{{timeZone.id}}</td>
    <td>{{timeZone.name}}</td>
    <td>{{timeZone.rawUtcOffsetHours}}</td>
  </tr>
</table>
